  <% if user_is_admin? %>
<div class="row text-center mt-5">

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><%= link_to("Create Users", new_user_registration_path) %></p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><%= link_to("Create Categories", new_category_path) %></p>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="row text-center mt-5">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><%= link_to("Log Activities", new_chapter_action_path) %></p>
      </div>
    </div>
  </div>
</div>
