<nav class="navbar navbar-expand-lg navbar-light">
    <section class="container">
        <a class="navbar-brand" href="/"><%= image_tag("SSDP20-logo-transparent.png", class: "img-fluid", style: "width: 70px;") %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">Chapters</a>
                <a class="nav-item nav-link" href="#">Leaderboard</a>
                <a class="nav-item nav-link" href="#">Available Activities</a>
                <a class="nav-item nav-link" href="#">How-to/FAQ</a>
                <a class="nav-item nav-link" href="#">Store</a>
                <a class="nav-item nav-link" href="#">Stats</a>
                <!-- These items only appear if people are logged in -->
                <a class="nav-item nav-link" href="#">Control Panel</a>
                <a class="nav-item nav-link" href="#">Log Out</a>
                <!-- If the user isn't logged in, display a link to do so -->
                <a class="nav-item nav-link" href="#">Log In</a>
            </div>
    </section>
    </div>
</nav>
