<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <% @data.each do |key, value| %>
      <h1><%= key %></h1>
      <br />
      <% value.each do |activity| %>
      <%= activity %>
      <br />
      <% end %>
      <% end %>
    </p>
  </body>
</html>
