<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @report.chapter_universe %>
      <%= @report.task_universe %>
      <%= @report.time_window %>
    </p>
  </body>
</html>
