<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col">
    <h1>Activity Feed</h1>
    <% @chapter_actions.each do |chapter_action| %>
      <article class="post">
        <header>
          <div>
            <div class="about"><%= chapter_action.user.name %>
              completed an action:
              <% chapter_action.category.title %>
              </div>
            </div>
          </header>
        </article>
      <% end %>
    </div>
  </div>
