<div class="row">
  <div class="col">
    <h1>Leaderboard</h1>
    <%= will_paginate @users %>
    <table width="100%">
      <tr>
        <th>Chapter</th>
        <th>Points</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to("#{user[0]}", "/chapters/#{User.where("name = '#{user[0]}'")[0].slug}")%></td>
          <td><%= user[1] %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
