<div class="row">
  <div class="col">
    <h1>Leaderboard</h1>
    <%= will_paginate @users %>

    <% @users.each do |user| %>
        <article class="post">
          <div>
            <div class="about"><%= link_to("#{user[0]}", "/chapters/#{User.where("name = '#{user[0]}'")[0].slug}")%></div>
          </div>
        </article>
        <hr>
    <% end %>
  </div>
</div>
