<div class="row">
  <div class="col">
    <h1>Chapters</h1>
    <% @users.each do |user| %>
      <% if user.permissions == "chapter" %>
        <article class="post">
          <div>
            <div class="about"><%= link_to("#{user.name}", "/chapters/#{user.id}")%></div>
          </div>
        </article>
        <hr>
      <% end %>
    <% end %>
  </div>
</div>
